
.centered
    h3 Редактор диалога
    h5 [[ctrl.treeType]]


div
    form.form
  
        .row
            .col-md-4
                .row
                    .col-md-12
                        p(ng-show = "$ctrl.hasNoStart" class="text-danger") У диалога нет точки начала! Вставьте ее чтобы диалог работал!
                        label Выберите Диалог:
                        select(name="singleSelect" id="dialogues" ng-model="$ctrl.selectedDialogue" ng-change="$ctrl.chooseDialogue($ctrl.selectedDialogue)" )
                            option(ng-repeat = "dialogue in $ctrl.DialogueService.getDialogues() track by $index" value="{{dialogue}}") {{dialogue.name}}
                        button.btn.btn-danger(ng-click="$ctrl.deleteDialogue($ctrl.selectedDialogue)") Удалить
                        br
                        label Или создайте новый
                        input(type="text" ng-model="$ctrl.newDialogueName")
                        button.btn.btn-info(ng-click="$ctrl.createNewDialogue($ctrl.newDialogueName)") Создать
                        hr
                .form-group
                    label(for='group') Для кого будет фраза:
                    input(type='radio', ng-model='$ctrl.groupToAdd', name='group', value='npc' ng-click="$ctrl.updateList()")
                    | Компьютер
                    input(type='radio', ng-model='$ctrl.groupToAdd', name='group', value='player' ng-click="$ctrl.updateList()")
                    | Игрок


                .form-group
                    label(for='phrase') Ответ на какую фразу?:
                    div(ng-hide="$ctrl.state.isEditingNode")
                        select#phrase.form-control(ng-model='$ctrl.fromNodeId', name='to' ng-change="$ctrl.onChange()")
                            option(ng-repeat='node in $ctrl.nodes' ng-value="node.id") {{ node.label }}

                    input(type="text" ng-show="$ctrl.state.isEditingNode" ng-model="$ctrl.editingLabel")

                    button(class="btn btn-danger" ng-click="$ctrl.deleteNode()" ng-hide="$ctrl.state.isEditingNode" )
                        i(class="fa fa-window-close" aria-hidden="true")
                    button(class="btn btn-warning" ng-click="$ctrl.editNode($ctrl.fromNodeId)" ng-hide="$ctrl.state.isEditingNode" )
                        i(class="fa fa-pencil" aria-hidden="true")
                    button(class="btn btn-success" ng-show="$ctrl.state.isEditingNode"  ng-click="$ctrl.updateNode($ctrl.editingNode)")
                        i(class="fa fa-check-circle-o" aria-hidden="true")

                .form-group
                    label(for='text') Текст ответа
                        input(type="radio" ng-model="$ctrl.addOrEdit" value="edit") 
                        | Добавить существующий
                        input(type="radio" ng-model="$ctrl.addOrEdit" value="new") 
                        | Новый
                    .form-group(ng-show="$ctrl.addOrEdit==='edit'" )
                        select#phrase.form-control(ng-model='$ctrl.editNodeId', name='editId' )
                            option(ng-show="$ctrl.notInList(state.id)" ng-repeat='state in $ctrl.oppositeNodes' ng-value="state.id") 
                                | {{ state.label }}
                        button(ng-click="$ctrl.addLink($ctrl.editNodeId)") Добавить
                    
                        
                    .form-group(ng-show="$ctrl.addOrEdit==='new'") 
                        input#text.form-control(type='text', placeholder='Введите наименование фразы', value='Привет!', ng-model='$ctrl.label', name='label')
                        input(type="radio" ng-model="$ctrl.type" value="none") 
                        | none
                        input(type="radio" ng-model="$ctrl.type" value="success") 
                        | success
                        input(type="radio" ng-model="$ctrl.type" value="failure") 
                        | failure
                        button.btn.btn-info(ng-click='$ctrl.addNode()')
                            i.fa.fa-plus-circle(aria-hidden='true')
                            |                 Добавить Реплику
                    .form-group
                        p(ng-repeat="phrase in $ctrl.phraseList") {{phrase.text}}
                            button(ng-click="$ctrl.deleteLink(phrase)") Удалить

            .col-md-8
                div#mynetwork This is amind component
