
.centered
    h3 Редактор диалога
    h5 [[ctrl.treeType]]


div
  form.form
    .form-group
      label(for='group') Для кого будет фраза:
      input(type='radio', [(ngmodel)]='nodeToAdd.group', name='group', value='npc')
      | Компьютер
      input(type='radio', [(ngmodel)]='nodeToAdd.group', name='group', value='player')
      | Игрок
    .form-group
      label(for='phrase') Ответ на какую фразу?:
      select#phrase.form-control([(ngmodel)]='nodeToAdd.to', name='to')
        option(*ngfor='let state of test | groupFilter : nodeToAdd.group ', [value]='state.id') {{ state.label }}
    .form-group
      label(for='text') Текст ответа
      input#text.form-control(type='text', placeholder='Введите наименование фразы', value='Привет!', [(ngmodel)]='nodeToAdd.label', name='label')
    button.btn.btn-info((click)='addNode()')
      i.fa.fa-plus-circle(aria-hidden='true')
      |                 Добавить Реплику
  h1#mynetwork This is amind component
