.company-list.company-list__inner
    h3 Список организаций

    md-content.md-padding
        md-card(ng-repeat="lead in $ctrl.service.companies"  class="noright")
            md-card-title
                md-card-title-text
                    span.md-headline [[lead.name]]
                    span.md-subhead Размер компании: [[lead.size]]
                md-card-title-media
                    .md-media-lg.card-media
                        img(alt="[[ lead.name ]]" height=152 width=100 ng-src="[['static/managers/img/building'+ lead.id +'.png']]"  )
            md-card-content
                p
                    | История сделок:
                    i.fa.fa-dollar(aria-hidden='true' style="color:#A14E71;")

            md-card-actions(layout="row" layout-align="end center")
                md-button Позвонить
                md-button(ng-click="$ctrl.goToCompany(lead.id)") Подробнее








