
.row
    .col-md-4
    .col-md-4
        form
            .form-group
                label Email*
                input(type="email" placeholder="Email" ng-model="$ctrl.user.email" required="true").form-control 
            .form-group
                label Password*
                input(type="password" placeholder="Password" ng-model="$ctrl.user.password" required="true").form-control 
            .form-group
                label Phone Number*
                input(type="tel" placeholder="Phone" ng-model="$ctrl.user.phone" required="true").form-control   
            .form-group
                label First Name
                input(type="text" placeholder="First Name" ng-model="$ctrl.user.first_name").form-control  
            .form-group
                label Last Name
                input(type="text" placeholder="Last Name" ng-model="$ctrl.user.last_name").form-control  
            button.btn.btn-warning(ng-click="$ctrl.signup()" style="align:'center';") Регистрация
    .col-md-4