h1 Админка
p Всего [[$ctrl.users.length]] пользователей
table(class="table")
    tr 
        th Id
        th Username
        th Email
        th Phone
        th First Name
        th Last Name
        th Email is verified
        th Roles
    tr(ng-repeat ="user in $ctrl.users ")
        td [[user.id]]
        td [[user.username]]
        td [[user.email]]
        td [[user.phone]]
        td [[user.first_name]]
        td [[user.last_name]]
        td [[user.emailVerified]]
        td 
            span(ng-repeat="role in user.roles") [[role]],
        





