.container-fuild
    .row
        .col-sm-8.col-lg-4.col-sm-offset-2.col-lg-offset-4.col-xs-12
                .thumbnail(style="background-color:#FFF7EC;")
                    img(src="static/managers/img/winner.jpg" height="250px" width="250px" align="middle").img-responsive

                    a(ng-link="['SignUp']" ng-hide="$ctrl.AuthService.isLoggedIn").btn.btn-default.btn-lg.btn-block  Регистрация 
                    a(ng-link="['SignIn']" ng-hide="$ctrl.AuthService.isLoggedIn").btn.btn-default.btn-lg.btn-block  Вход
                    a(ng-click="$ctrl.logout()" ng-show="$ctrl.AuthService.isLoggedIn").btn.btn-default.btn-lg.btn-block  Выход
                    a(ng-link="['Admin']" ng-if="$ctrl.AuthService.has('admin')" ng-show="$ctrl.AuthService.isLoggedIn").btn.btn-default.btn-lg.btn-block  Админка 
                    a(ng-link="['NewGame']" ng-show="$ctrl.AuthService.isLoggedIn").btn.btn-default.btn-lg.btn-block  Новая игра
                    
                    a(ng-link="['Tree']" ng-if="$ctrl.AuthService.has('canSeeEditor')" ng-show="$ctrl.AuthService.isLoggedIn").btn.btn-default.btn-lg.btn-block Редактор диалогов
                    a(ng-click="$ctrl.help()").btn.btn-default.btn-lg.btn-block Помощь
                .thumbnail(style="background-color:#FFF7EC;" ng-show="$ctrl.AuthService.isLoggedIn")
                    h4.text-center Играть за:
                    div(ng-repeat="player in $ctrl.players")
                        button.close(ng-click='$ctrl.deletePerson(player.id)' )
                            i.fa.fa-trash
                        a(ng-click="$ctrl.goToGame(player.id)" ).btn.btn-default.btn-lg.btn-block [[player.name]]

                            img(src="static/managers/img/[[player.image_path]]" height="50px" width="50px" align="middle").img-responsive

        .col-sm-2.col-lg-4
