<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
  <script src="index.js"></script>

</head>
<body ng-controller="BasicController as $ctrl">
<div class="container-fluid">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <!--<h3 class="text-muted">Project name</h3>-->
  </div>

  <div class="jumbotron" id="top-image" >
    <div class="row">
      <div class="col-md-12">
        <h1>TETRA</h1>
        <p class="lead">Уникальная программа, которая развивает навыки продаж</p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form class="form-inline" ng-submit="$ctrl.sendEmail()">
          <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input type="email" class="form-control" ng-model="$ctrl.email" id="email" placeholder="Email" name="email">
          </div>

          <button class="btn btn-default">регистрация</button>
        </form>

        <!--<form class="form-inline" action="/api/v1/customers" method="post" ng-submit="$ctrl.sendEmail()">-->
          <!--<div class="form-group">-->
            <!--<label class="sr-only" for="email">Email address</label>-->
            <!--<input type="email" class="form-control" ng-model="$ctrl.email" id="email" placeholder="Email" name="email">-->
          <!--</div>-->

          <!--<button class="btn btn-default">регистрация</button>-->
        <!--</form>-->
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <div class="row" id="about">
    <div class="col-md-12">
      <h1>Что это за система</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <h3>Основана на настоящих продажах</h3>
              <p>Вы хотели бы узнать, какие слова продают? Как разговаривают настоящие звезды продаж? У вас теперь есть такая возможность. Мы собрали огромное количество реальных диалогов, происходящих у менеджеров по продажам, переработали их и отобрали самые продающие скрипты, которые представлены у нас в системе.</p>
            </div>
            <div class="col-md-12">
              <h3>Опыт реальных людей</h3>
              <p>В нашей команде люди, которые сами очень много продавали, формировали команды продаж. На основе опыта продаж огромного количества людей, мы создали систему,на которой можно учится. Как показала практика, игровой процесс позволяет гораздо лучше усваивать необходимую информацию </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <h3>Искуственный интеллект</h3>
              <p>В программе вы работаете с искуственным интеллектом. Наша система искуственного интеллекта постоянно обучается, в том числе на основе ваших ответов. Мы ожидаем, что скоро общение с ним не будет отличаться от разговора с реальными людьми</p>
            </div>
            <div class="col-md-12">
              <h3>Практика</h3>
              <p>Говорят, чтобы добиться успеха в каком-либо деле, надо потратить на него 10 000 часов. Наша система позволяет начать вкладывать в навыки продаж сразу при начале обучения</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <h3>Направленность по отраслям</h3>
              <p>В каждой отрасли свои характеристики продаж. Где-то большие суммы продаж, но долгие сделки, где то наоборот. Вы сможете выбрать отрасль, в которой будете практиковаться, и отработаете обход возражений и заключение сделок в этой отрасли.</p>
            </div>
            <div class="col-md-12">
              <h3>Все этапы сделок</h3>
              <p>В каждой отрасли свои характеристики продаж. Где-то большие чеки, но долгие продажи, где то наоборот. Вы сможете выбрать отрасль, в которой будете практиковаться, и отработаете возражения и заключение сделки в этой отрасли.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="classic-education">
    <div class="col-md-12">
      <h1>Традиционные способы обучения</h1>
      <div class="row text">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3 icon">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-9">
              <h2>Короткий временной эффект от обычных тренингов</h2>
              <p>Максимальный эффект от тренингов - во время их прохождения, позже эффект значительно снижается</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row ">
            <div class="col-md-3 icon">
              <i class="fa fa-book" aria-hidden="true"></i>

            </div>
            <div class="col-md-9">
              <h2>Качество обучения</h2>
              <p>Хорошие тренеры стоят больших денег, а эффект от посредственных - слабый</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3 icon">
              <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="col-md-9">
              <h2>Книги дают временный эффект</h2>
              <p>Можно прочитать сотни книг, но без действий сложно продать, только действия приводят к результату, а переводная литература не всегда применима к региональным особенностям рынка.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3 icon">
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-9">
              <h2>Большая стоимость хороших тренингов</h2>
              <p>Не всегда есть нужная сумма </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="benefits">
    <div class="col-md-12">
      <h1>Что вы получите благодаря нашей системе</h1>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-4">
            <div class="icon">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </div>
            <p class="icon-text">Отработаете ту отрасль продаж, которая вам интересна</p>
          </div>
          <div class="col-md-4">
            <div class="icon">
              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            </div>
            <p class="icon-text">Сможете сразу применить знания на практике</p>
          </div>
          <div class="col-md-4">
            <div class="icon">
              <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
            </div>
            <p class="icon-text">Техники представленна в интерактивной форме</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-4">
            <div class="icon">
              <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
            </div>
            <p class="icon-text">Узнаете как преодолевать возражения клиентов</p>
          </div>
          <div class="col-md-4">
            <div class="icon">
              <i class="fa fa-child" aria-hidden="true"></i>
            </div>
            <p class="icon-text">Преодолеете страх первого звонка</p>
          </div>
          <div class="col-md-4">
            <div class="icon">
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
            <p class="icon-text">Узнаете, как продают профессионалы</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="feedback">
    <div class="col-md-12">
      <h1>Отзывы наших клиентов</h1>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="col-md-4">
            <div class="photo col-md-12 icon">
              <img src="manager1.jpg">
              <!--<i class="fa fa-user-o" aria-hidden="true"></i>-->
            </div>
            <div class="col-md-12 icon-text">
              <h5 class="icon-text-caption"><strong>Дмитрий</strong>, менеджер по продажам</h5>
              <p>Я ни разу до этого не занимался продажами. Теперь работай в этой отрасли и мне нравится! </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="photo col-md-12 icon">
              <img src="manager2.jpg">
            </div>
            <div class="col-md-12 icon-text">
              <h5 class="icon-text-caption">Константин</h5>
              <p>Научился техникам отработки возражений за неделю, реально помогли!</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="photo col-md-12 icon">
              <img src="G7DvOVL9ADs.jpg" >
            </div>
            <div class="col-md-12 icon-text">
              <h5 class="icon-text-caption">Сергей</h5>
              <p>Попробовал игру, сам продаю, прислал ребятам пару идей</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

  <div class="row" id="howto">
    <div class="col-md-12">
      <h1>Как работать в нашей системе</h1>
      <div class="row">
        <div class="col-md-2 element-text">Зарегистрироваться</div>
        <div class="col-md-1 element-arrow">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>
        <div class="col-md-2">Выбрать категорию продаж</div>
        <div class="col-md-1 element-arrow">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>
        <div class="col-md-2">Начать изучать теорию</div>
        <div class="col-md-1 element-arrow">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>
        <div class="col-md-2">Проводить тренировочные звонки</div>
      </div>
    </div>
  </div>



  <footer class="footer row">
    <div class="col-md-12">
      <p>© 2017 Тетра Лаб</p>
    </div>
  </footer>

</div>

  <script src="https://use.fontawesome.com/bf21cdbf1e.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
