@import url('https://fonts.googleapis.com/css?family=Roboto');


.main__inner {
    display: flex; 
    flex-flow: column;

    /*background-color:pink;*/
    margin: 5px;
    padding: 5px;

    /*font-family: 'Roboto', sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
    box-sizing: border-box;
}
.main__inner h1 {
    text-align: center;
}

.main__row {
    /*width: 100%;*/
    background-color:blue;
    /*margin-bottom: 5px;*/
    min-height: 30rem;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.row-top__inner{
    letter-spacing: 1px;

    /*margin: 2rem;*/
    padding: 2rem;
    
    height: inherit;
    background-color: #7A005C;
    background: url(city.gif) no-repeat  white;
    background-size: cover;
}
.row-top__logo{
    /*flex-grow: 1;*/
    font-size: smaller;
    padding-bottom: 5px;

}
.row-top__caption {
    /*flex-grow: 1;*/
    align-self: center;
    color: whitesmoke;
    font-size: xx-large;
}
.row-top__sales-text{
    /*flex-grow: 1;*/
    align-self: flex-end;   
    color: whitesmoke;
    font-size:larger;
    width:30rem;
    max-width: 100%;
    
}

.row-top__sales-subtext{
    align-self: flex-end;   
    color: whitesmoke;
    font-size:90%;
    width:20rem;
    max-width: 100%;
    background: #7A005C;
    padding:1rem;
}

.top-registration-form__inner{
    align-self:flex-start;

    display: flex; 
    flex-direction: column;
    justify-content: flex-start;

    background-color:#F76F87;
    
    max-width:100%;
    width: 30rem;
    /*border-radius: 1em;*/
    padding-bottom: 1rem;
}
.top-registration-form__header{
    border-radius: inherit;
    background-color: #B32D45;
    padding-right:1rem;
    padding-left:1.2rem; 
    color:whitesmoke;
    
}

.top-registration-form__email{
    margin:1rem;
    height: 2rem;
    font-size: large;
    max-width:85%;
    color:grey;
    padding-left:1rem; 
}

.top-registration-form__submit{
    height: 2rem;
    margin: 0rem 1rem;
    font-size: large;
    width:12rem;
    background-color: #4EA429;
    color:white;
    border: none;
    
}

@media screen and (max-width: 600px) {
    .top-registration-form__submit{
        width:20rem;
        max-width:85%;
    }
}

.faq__inner {
    background-color: white;
}


.faq__elements-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.faq__element{
    flex-basis: 30%;
    margin: 0.5rem;
}

@media screen and (max-width: 670px) {
    .faq__element{
        flex-basis: 50%;
    }   
}

/*@media screen and (max-width: 600px) {
    .faq__element{
        flex-basis: 100%;
    }   
}*/

.traditional__inner {
    color:white;
    background-color: #A54013;
    
}
.traditional__elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.traditional__element{
    flex-basis: 50%;

    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 670px) {
    .traditional__element{
        flex-basis: 100%;
    }   
}

.traditional__element-icon{
    flex-basis: 20%;
    align-self: center;
    font-size: 400%;
    text-align: center;
    margin:1rem;
}

.traditional__element-text{
    flex-basis: 80%
}

/*benefits*/
.benefits__inner {
    color:white;
    background-color: #2e6da4;
}

.benefits__elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.benefits__element{
    flex-basis: 30%;

    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 670px) {
    .benefits__element{
        flex-basis: 50%;
    }   
}

@media screen and (max-width: 440px) {
    .benefits__element{
        flex-basis: 100%;
    }   
}

.benefits__element-icon{
    flex-basis: 20%;
    align-self: center;
    font-size: 400%;
    text-align: center;
    margin:1rem;
}


.benefits__element-text{
    flex-basis: 80%
}


.feedback__inner {
    /*color:white;*/
    background-color: white;
}
.feedback__people-container{
    display: flex;
    /*flex-flow: row;*/
    flex-wrap: wrap;
    justify-content: space-around;
}

.feedback__element{
    flex-basis:20%;
    
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    /*border: 1px dotted grey;*/
}

@media screen and (max-width: 670px) {
    .feedback__element{
        flex-basis: 100%;
        border-bottom: 1px dotted grey;
        padding-top: 2rem;
    }   
}

.feedback__text {
    text-align: justify;
    max-width: 20rem;
    padding-bottom: 2rem;
}

/*howto*/
.howto__inner {
    color: white;
    background-color: #2e6da4;
    letter-spacing: 1px;

}
.howto__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem; 
    

}

.howto__element {
    /*border: 1px solid white;*/
}

.howto__arrow{
    font-size: 4rem;
    transform: rotate(90deg);
}


.calltoaction__inner{
    color:#7A005C;
    padding: 1rem;
    background: url(footer_catch_1000.jpg) no-repeat  white;
    background-size: cover;
}

@media screen and (max-width: 960px) {
    .calltoaction__inner{
        /*background: url(footer_catch_960.jpg) no-repeat  white;*/
    }   
}


.calltoaction__inner h1{
    align-self: flex-start;
    width:20rem;
    max-width: 100%;

}
.footer__inner{
    padding-left: 2rem;
}