#top-image{
  background: url(city.jpeg) no-repeat center ;
  height: 30em;
  color: white;
  text-align: center;
  border-radius: 9px;
}

#about {
}
#about h1 {
  text-align: center;
}


#benefits{
  background: #2e6da4;
  color:white;
  padding-top: 3em;
}

#benefits h1{
  text-align: center;
  padding-bottom: 2em;
  padding-top: 1em;
}
#benefits .icon{
  height:1.5em;
  text-align: center;
  line-height: 1.5em;
  font-size: 4em;
}
#benefits .icon-text {
  text-align: center;
  margin-bottom: 3em;
}

#feedback{
 margin-top: 3em;
  margin-bottom: 5em;
}

#feedback h1 {
  text-align: center;
  margin-bottom: 2em;
}

#feedback .icon {
  height:4em;
  text-align: center;
  line-height: 4em;
  font-size: 4em;
  border : #2e6da4 0.5px solid;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 0px;

  /*background: url("ma");*/
}
#feedback img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 110px;

  /* Set up proportionate scaling */
  width: 120%;
  height: auto;

  /* Set up positioning */
  position: relative;
  /*top: 0;*/
  /*left: 0 ;*/

}
#feedback .icon-text{}

#feedback .icon-text .icon-text-caption {
  font-style: italic;
  text-align: center;
  text-emphasis;
  margin-top: 2em;
}
#feedback .icon-text p {
  text-align: justify;
}


#classic-education{
  background: #d9534f;
  color: white;
}
#classic-education h1{
  text-align: center;
  margin-bottom: 2em;
}
#classic-education .icon{
  font-size: 6em;
  text-align: center;
  /*line-height: 1em;*/
}
#classic-education .text{
  padding-bottom: 3em;
}

#howto{
  background: #1b6d85;
  color: white;
}

#howto h1{
  text-align: center;
}

#howto .element-text{
  height: 4em;
  text-align: center;
  line-height: 4em;
  /*vertical-align: middle;*/
  /*font-size: 10em;*/
}
#howto .element-arrow{
  height:4em;
  text-align: center;
  line-height: 4em;
  font-size: 4em;
}

footer {
  height: 10em;
}
