@import url('https://fonts.googleapis.com/css?family=Cousine:400,700');

#top-image{
  background: url(city.gif) no-repeat center/100% ;
  height: 40em;
  color: white;
  text-align: center;
  border-radius: 9px;

  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}



#top-image h1{
  font-family: 'Cousine', monospace;
  font-size: 5em;
}

#top-image .form-email{
  padding-top: 1em;
  position:relative;
  background-color: #f7f6ea;
  height: 15em;
  border-radius: 8px;
  top:2em;
  left:1em;
  color: black;
  /*opacity: .5;*/
}

#top-image .form-email .form-group {
  margin-top: 1em;
}

#top-image .form-email .btn {
  opacity: unset !important;
}

#about {
  height: 40em;
}
#about h1 {
  text-align: center;
  position: relative;
  top:1em;
}

#about .text {
  position: relative;
  top:5em;
}

#benefits{
  height: 40em;
  background: #2e6da4;
  color:white;
  padding-top: 3em;
}

#benefits h1{
  text-align: center;
  padding-bottom: 2em;
  padding-top: 1em;
}
#benefits .icon{
  height:1.5em;
  text-align: center;
  line-height: 1.5em;
  font-size: 4em;
}
#benefits .icon-text {
  text-align: center;
  margin-bottom: 3em;
}

#feedback{
  height: 40em;
  /*margin-top: 3em;*/
  /*margin-bottom: 5em;*/
}
#feedback h1 {
  text-align: center;
  margin-bottom: 2em;
}
#feedback .icon {
  height:4em;
  text-align: center;
  line-height: 4em;
  font-size: 4em;
  border : #2e6da4 0.5px solid;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 0px;

  /*background: url("ma");*/
}
#feedback img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 110px;

  /* Set up proportionate scaling */
  width: 120%;
  height: auto;

  /* Set up positioning */
  position: relative;
  /*top: 0;*/
  /*left: 0 ;*/

}
#feedback .icon-text{}
#feedback .icon-text .icon-text-caption {
  font-style: italic;
  text-align: center;
  text-emphasis;
  margin-top: 2em;
}
#feedback .icon-text p {
  text-align: justify;
}


#classic-education{
  background: #A54013;
  height: 40em;
  color: white;
}
#classic-education h1{
  text-align: center;
  margin-bottom: 2em;
}
#classic-education .icon{
  font-size: 6em;
  text-align: center;
  /*line-height: 1em;*/
}
#classic-education .text{
  padding-bottom: 3em;
}

#howto{
  background: #0F3F6B;
  color: white;
  height: 48em;
}

#howto h1{
  text-align: center;
}

#howto .element-text{
  /*height: 4em;*/
  text-align: center;
  /*line-height: 4em;*/
  border: 1px solid;
  align-content: center;
  /*vertical-align: middle;*/
  /*font-size: 10em;*/
}
/*#howto .element-text div{*/
  /*position: ;*/
  /*left:50%;*/
  /*width:30em;*/
  /*border:1px solid;*/
/*}*/

#howto .element-arrow{
  /*height:4em;*/
  text-align: center;
  /*line-height: 4em;*/
  font-size: 4em;
  transform: rotate(90deg);
}

#foot_catch{
  /*background: #2e6da4;*/
  background: url(footer_catch.jpg) no-repeat center/100% ;
  color: #609CD2;
  height: 40em;
}



#foot_catch .form-email{
  color: white;
  top:40%;
  height: 20em;
  background: #609CD2;
  text-align: end;
  position: relative;
}

#foot_catch .form-email .form {
  position: absolute;
  bottom: 3em;
}
#foot_catch .lozung {
  top:3em;
}
footer {
  height: 10em;
}
