
.row
    .col-md-4
    .col-md-4
        form
            .form-group
                label Email*
                input(type="email" placeholder="Email" ng-model="$ctrl.user.email" required="true").form-control 
            .form-group
                label Password*
                input(type="password" placeholder="Password" ng-model="$ctrl.user.password" required="true").form-control   
            
            button.btn.btn-warning(ng-click="$ctrl.signin()" style="align:'center';") Вход
    .col-md-4