.panel-body(style="background-color:#F8FBF4;")
    .col-md-6
        .media-left.media-middle
            img(src="static/managers/img/[[ctrl.npc.image_path]]" width=75 height=100)
            button.btn.btn-success(
            ng-click="ctrl.talk()"
            ) Позвонить
        .media-body
            p [[ctrl.npc.name]]







